<div class="ui raised card fluid">
  <div class="badge-top">
    <div class="badge-punch"></div>
  </div>
  <div class="content">
    <div class="ui grid">
      <img src="images/key-to-happiness-sm.png" alt="conference logo" class="badge-logo">
      <div class="badge-name twelve wide column">
        {{#if nickname}}
          {{nickname}}
        {{else}}
          Nickname
        {{/if}}
      <p class="pronouns"><i>(pronouns: {{pronouns}})</i></p>
      </div>
      <div class="badge-qr-code four wide column">
        {{#if identity}}
          {{qr-code text=identity darkColor="#8e017e"}}
        {{/if}}
      </div>
      {{pubKey}}
    </div>
  </div>
</div>
