<div class="row">
  <h1 class="ui header">My Badge</h1>
</div>

<div class="ui grid">
  <div class="ui column six wide">
    <Badge @nickname={{nickname}} @identity={{torusLogin.qrAddr}}/>
  </div>
</div>


<div class="row">
  <h1 class="ui header">Edit Profile</h1>
</div>
  <div class="ui fluid card grid padded">
    <div class="content">
      <div class="ui form profile">
        <Forms::Name
          @firstName={{firstName}}
          @lastName={{lastName}}
          @nickname={{nickname}}
          @pronouns={{pronouns}}
        />
        <Forms::Size @size={{size}} @isFittedShirt={{isFittedShirt}} />
        <Forms::Food 
          @isVegetarian={{isVegetarian}} 
          @isVegan={{isVegan}}
          @isGlutenFree={{isGlutenFree}}
          @otherDietary={{otherDietary}}
        />
      </div>
    </div>
  </div>

<div class="row">
  <h1 class="ui header">My keys</h1>
</div>
<div>
  {{#each torusLogin.pubKey as |someKey|}}
  <div>{{someKey}}</div>
  {{/each}}
</div>

